.container {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 100vh;
}

.form {
    flex: 1;
    order: 1;
    margin: 0;
    padding: 0;
}

.map{
    flex: 3;
    order: 2;
    position: relative;
    min-height: 100%;
}